<h1>Login</h1>
	<%if @error == "true" %>
 <script>
  function activateModal() {
    // initialize modal element
    var modalEl = document.createElement('div');
    modalEl.style.width = '400px';
    modalEl.style.height = '300px';
    modalEl.style.margin = '100px auto';
    modalEl.style.backgroundColor = '#fff';
	modalEl.innerHTML = '<a href="/login"s><button class="mui-btn mui-btn--primary" >Zurueck</button></a>';
    // show modal
    mui.overlay('on', modalEl);
  }
  activateModal()
</script>
	<% end %>
	<%= form_tag '/login' do %>
	<div class="mui-textfield">
	<%= label_tag :username%>
	<%= text_field_tag :username %>
	</div>
	<div class="mui-textfield">
	<%= label_tag :password%>
	<%= password_field_tag :password%>
	</div>
	<%= submit_tag("Login", :class => 'mui-btn mui-btn--primary mui-btnraised') %>
<%end%>