<!DOCTYPE html>
<html>
  <head>
    <title>TeamTrees</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Using matierial UI -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link href="//cdn.muicss.com/mui-0.10.0/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.0/js/mui.min.js"></script>

    <!-- Rendering the application css and js -->    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Defining roboto slab -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet"> 
    <%= favicon_link_tag asset_path('tree_random.svg') %>
  </head>

  <body>
    <nav class="mui-appbar">
      <table>
        <tr class="mui--appbar-height">
          <td class="<% if current_page?(:planets_overview) %>active<% end %>">
            <%= link_to "Planets", :planets_overview %>
          </td>
          <td class="<% if current_page?(:map) %>active<% end %>">
            <%= link_to "Map", :map %>
          </td>
          <td class="<% if current_page?(:logout) %>active<% end %>">
            <%= link_to "Logout", :logout%>
          </td>
        </tr>
      </table>
    </nav>
    <div id="body">
      <%= yield %>
    </div>
  </body>
</html>
